.item {
    /* height: 500px; */
    border: 1px dashed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 50px;
    margin-bottom: 30px;
}
.title{
    color: rgb(15, 139, 139);
    width: 250px;
}

.img {
    width: 50px;
}
.buttons{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.decrease {
    background-color: grey;
    border-radius: 10px;
    padding: 5px 12px;
    font-size: 20px;
}

.add {
    background-color: green;
    border-radius: 10px;
    padding: 5px 12px;
    font-size: 20px;
}
.remove {
    background-color: rgb(216, 44, 44);
    border-radius: 10px;
    padding: 5px 12px;
    font-size: 20px;
}

@media screen and (max-width:400px) {
    .item{
        gap: 15px;
        flex-direction: column;
    }
    .title{
        width: 200px;
    }
    .buttons{
        width: 70%;
    }
}